{% extends 'equetes/base.html' %} 
 
{% block content %} 
<h1>{{ questao.descricao }}</h1> 
 
<ul class="list-group mb-3"> 
{% for alternativa in questao.alternativa_set.all %} 
    <li class="list-group-item d-flex justify-content-between align-items-center"> 
        {{ alternativa.descricao }} 
        <span class="badge bg-primary rounded-pill"> 
            {{ alternativa.total_votos }} voto{{ alternativa.total_votos|pluralize }} 
        </span> 
    </li> 
{% endfor %} 
</ul> 
 
<a href="{% url 'equetes:detalhes' questao.id %}" class="btn btn-secondary">Votar 
novamente?</a> 

<div class="mt-4">
    <a href="{% url 'equetes:index' %}" class="btn btn-outline-secondary">Voltar para o início</a>
</div>
{% endblock %} 